# Application Settings
# SECURITY WARNING: Do NOT use this key in production!
# Generate a new key by running: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=your_super_secret_key_change_this_in_production
    
# Admin Settings
ADMIN_EMAIL=admin@solshare.com
ADMIN_PASSWORD=admin123

# AWS SES Settings (not mandatory for running the app, but required for reset-password email!)
SMTP_HOST=email-smtp.eu-central-1.amazonaws.com
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username_here
SMTP_PASSWORD=your_smtp_password_here
SMTP_FROM_EMAIL=your_verified_email@gmail.com

# Frontend URL
FRONTEND_URL=http://localhost:5173